.c_help_content {
    width: 100%;
    background: #edf4f9
}

.c_help_content .c_help_content_banner {
    background: #175ab0
}

.c_help_content .c_help_content_banner .c_help_content_banner_img {
    min-width: 1024px;
    max-width: 1280px;
    margin: 0 auto;
    position: relative
}

.c_help_content .c_help_content_banner .c_help_content_banner_img img {
    width: 100%;
    height: 252px
}

.c_help_content .c_help_content_banner .c_help_content_banner_img .c_search {
    width: 586px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -293px;
    background-color: #fff!important;
    background: url(/static/images/c_search.png) no-repeat 552px center;
    cursor: pointer
}

.c_help_content .c_help_content_banner .c_help_content_banner_img .c_search input {
    width: 539px;
    height: 100%;
    border: none;
    border-right: 1px solid #d5d5d5;
    color: #323232;
    padding-left: 20px
}

.c_help_content .c_help_content_body {
    width: 1280px;
    margin: 0 auto;
    padding: 60px 0
}

.c_help_content .c_help_content_body .c_help_content_body_nav {
    height: 360px;
    width: 226px;
    border: 1px solid #d7d8dc;
    margin-right: 40px
}

.c_help_content .c_help_content_body .c_help_content_body_nav .c_nav_dv1 {
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #d8e8fa;
    background-color: #0091ff!important;
    font-size: 20px;
    padding-left: 50px;
    background: url(/static/images/c_3.png) no-repeat 60px center
}

.c_help_content .c_help_content_body .c_help_content_body_nav .nav_a {
    padding-left: 30px;
    background: url(/static/images/c_4.png) no-repeat;
    text-align: center
}

.c_help_content .c_help_content_body .c_help_content_body_right {
    width: 1010px;
    padding-top: 40px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_top {
    border-bottom: 1px solid #d7d8dc
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_top h1 {
    font-size: 18px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_top p {
    font-size: 12px;
    margin-top: 25px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_body {
    padding: 48px 0 60px 0
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_body p {
    font-size: 14px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_body .c_p2 {
    margin-top: 36px;
    margin-bottom: 50px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_bottom {
    height: 92px;
    background: #fff;
    padding-left: 108px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_bottom span {
    font-size: 14px;
    margin-top: 40px
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_bottom .sp1 {
    width: 106px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #0091ff;
    margin-top: 26px;
    margin-left: 27px;
    margin-right: 20px;
    cursor: pointer
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_body_right_bottom .sp2 {
    width: 106px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #0091ff;
    margin-top: 26px;
    cursor: pointer
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap {
    width: 976px;
    height: 216px;
    border: 1px solid #51b4ff;
    background: #f8f8f8;
    padding: 24px 32px 10px;
    display: none
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_dadio span {
    font-size: 14px;
    color: #646464
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_dadio input[type=radio] {
    margin: 3px 3px 0 5px;
    display: none
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_dadio label {
    padding-left: 30px;
    cursor: pointer;
    margin-left: 32px;
    margin-top: 5px;
    background: url(/static/images/c_2.png) no-repeat
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_dadio label.checked {
    background: 0 0;
    background: url(/static/images/c_1.png) no-repeat
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_text {
    width: 908px;
    height: 93px;
    border: 1px solid #d7d8dc;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_text textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 10px;
    text-indent: 1em
}

.c_help_content .c_help_content_body .c_help_content_body_right .c_no_tap .c_no_tap_btn {
    width: 124px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    background: #0091ff;
    text-align: center;
    cursor: pointer;
    border-radius: 4px
}

.blue {
    color: #0091ff
}

.panel-heading {
    padding: 15px 0 15px 58px
}

.panel-default>.panel-heading {
    background: #edf4f9!important
}

.panel {
    background: #edf4f9!important;
    border: none;
    border-top: 1px solid #d7d8dc;
    webkit-box-shadow: none;
    box-shadow: none
}

.panel-body ul {
    padding-left: 73px
}

.panel-body ul li {
    line-height: 31px
}

a:focus,
a:hover {
    text-decoration: none!important;
    outline: 0!important
}

.panel-group .panel+.panel {
    margin-top: 0
}
