<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="keywords" content="{{$keywords}}" />
    <meta name="description" content="{{$description}}" />
    <!-- 360浏览器 -->
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- 强制竖屏 -->
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <!-- 老式手机优化 -->
    <meta name="HandheldFriendly" content="true" />
    <!-- 不识别手机号 -->
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/bass0118.css" />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/homepage.css" />
    <link type="text/css" rel='stylesheet' href='http://192.168.1.53/static/css/send-success.css' />
    <link rel='stylesheet' href='http://192.168.1.53/static/css/registered.css' />
    <link rel='stylesheet' href='http://192.168.1.53/static/js/toastr/build/toastr.css' />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/authenticationCenter.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.1.53/static/css/Transaction_process.css" />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/bootstrap-theme.css" />
    <link type="text/css" rel="stylesheet" href="http://192.168.1.53/static/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="css/sign_in.css">
    <style type="text/css">
    .gs-logo-div:hover,
    .gs-logo-div:active,
    .gs-logo-div:link {
        text-decoration: none;
        outline: none;
    }
    </style>
    <script type="text/javascript" src="http://192.168.1.53/static/js/jquery-1.9.1.js"></script>
    <!-- jq 兼容老版本处理 -->
    <script type="text/javascript">
    var API = '/api';

    if (typeof $.browser == 'undefined') {
        var matched, browser;

        ua = navigator.userAgent.toLowerCase();

        var match = /(chrome)[ \/]([\w.]+)/.exec(ua) ||
            /(webkit)[ \/]([\w.]+)/.exec(ua) ||
            /(opera)(?:.*version|)[ \/]([\w.]+)/.exec(ua) ||
            /(msie) ([\w.]+)/.exec(ua) ||
            ua.indexOf("compatible") < 0 && /(mozilla)(?:.*? rv:([\w.]+)|)/.exec(ua) || [];

        matched = {
            browser: match[1] || "",
            version: match[2] || "0"
        };

        browser = {};

        if (matched.browser) {
            browser[matched.browser] = true;
            browser.version = matched.version;
        }

        if (browser.chrome) {
            browser.webkit = true;
        } else if (browser.webkit) {
            browser.safari = true;
        }

        jQuery.browser = browser;
    }
    </script>
    <!-- <script type='text/javascript' src='/static/js/filters/filters.js'></script>
    <script type='text/javascript' src='/static/js/filters/init.js'></script>
 -->
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.fr.js"></script>
    <script type='text/javascript' src='/static/js/ueditor/ueditor.all.min.js'></script>
    <script type='text/javascript' src='/static/js/ueditor/ueditor.config.js'></script>
    <script type="text/javascript" src="/static/js/bass1.js"></script>
    <title>{{$title}}</title>
</head>

<body>
    <!--顶端-->
    <section class="header not_selected">
        <section class="header_top">
            <section class="header_top_content">
                <section class="header_top_content_peripheral pull-left">
                    <div class="pull-left" style="position: relative;height: 100%;">
                        <span class="{{$locationCode}}_icon pull-left"></span>
                        <span class="earth_text pull-left dropdown-toggle" data-toggle="dropdown">{{$location}} <span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu_list" id="0"><span class="global_icon pull-left"></span>Global</li>
                            <li class="dropdown-menu_list" id="33"><span class="china_icon pull-left"></span>中国</li>
                            <li class="dropdown-menu_list" id="79"><span class="hongkong_icon pull-left"></span>中国香港</li>
                            <li class="dropdown-menu_list" id="51"><span class="macau_icon pull-left"></span>中国澳门</li>
                            <li class="dropdown-menu_list" id="676"><span class="usa_icon pull-left"></span>USA</li>
                            <li class="dropdown-menu_list" id="659"><span class="england_icon pull-left"></span>England</li>
                            <li class="dropdown-menu_list" id="628"><span class="norway_icon pull-left"></span>Norway</li>
                        </ul>
                    </div>
                    <div class="pull-left" style="position: relative;height: 100%;">
                        <span class="select_language_text pull-left dropdown-toggle" data-toggle="dropdown">{{$language}} <span class="caret"></span></span>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu_list">
                                <a href="{{$baseurl}}?lang=zh-cn">中文简体</a>
                            </li>
                            <li class="dropdown-menu_list">
                                <a href="{{$baseurl}}?lang=zh-tw">中文繁體</a>
                            </li>
                            <li class="dropdown-menu_list">
                                <a href="{{$baseurl}}?lang=en">English</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="header_top_content_peripheral pull-right">
                    <a class="welcome_statement pull-left" href="/">{{conver str=MainTopRight_0}}</a> {{if $islogin}}
                    <span class="my_identity pull-left">{{$gs_username}}</span>
                    <span class="pull-left" style="color: white;cursor: pointer;display: block;font-size: 12px;margin-left: 0;margin-right: 30px;margin-top: 6px;"><a style="color:#fff" href="/userport/center.html">个人中心</a></span>
                    <a class="registered loginout pull-left" href="javascript:;">退出</a> {{else}}
                    <span class="my_identity pull-left">{{conver str=MainTopRight_1}}</span>
                    <span class="landing pull-left" data-toggle="modal" data-target="#myModal">{{conver str=MainTopRight_2}}</span>
                    <a class="registered pull-left" href="/passport/register.html">{{conver str=MainTopRight_3}}</a> {{/if}}
                </section>
            </section>
        </section>
        <section class="header_bottom">
            <section class="header_bottom_content">
                <section class="header_bottom_content_peripheral pull-left">
                    <section class="logo_text pull-left">
                        <a href="/" class="gs-logo-div">
                            <span class="logo_text_big">{{conver str=MainHeaderLeftLogo_0}}</span>
                            <span class="logo_text_small">Studybanks.com</span>
                        </a>
                    </section>
                    <section class="introduction_information pull-left">
                        {{if !isset($logoContent)}}
                        <span class="introduction_information_text">{{conver str=MainHeaderLeftLogo_1}}</span>
                        <span class="introduction_information_text">{{conver str=MainHeaderLeftLogo_2}}</span> {{else}}
                        <section class="introduction_information_text_t">
                            <div class="introduction_information_text_content">
                                {{$logoContent}}
                            </div>
                        </section>
                        {{/if}}
                    </section>
                </section>
                <section class="header_bottom_content_peripheral pull-right">
                    <section class="search pull-left">
                        <input type="text" class="search_input pull-left" placeholder="课程/老师/学校/企业" style="display: none;" />
                        <div class="search_input_icon pull-left"></div>
                    </section>
                    <!--                     <section class="my_credits pull-left">
                        <span class="my_credits_icon"></span>
                        <span class="my_credits_text">{{conver str=MainHeaderRight_0}}</span>
                    </section>
                    <section class="study_plan pull-left">
                        <span class="study_plan_icon"></span>
                        <span class="study_plan_text">{{conver str=MainHeaderRight_1}}</span>
                        <div class="study_plan_prompt" style="display: none;">即将开放，敬请期待！</div>
                    </section> -->
                </section>
            </section>
        </section>
    </section>
    <!-- 主体 -->
    <section class="sign_in">
        <div class="sign_in_box">
            <p>{{conver str=sign01}}</p>
            <form id="sign_in">
                <div class="sign_input">
                    <div class="sign_input_name">
                        <input type="text" name="sign_name" placeholder="{{conver str=sign02}}">
                    </div>
                    <div class="sign_input_pass">
                        <input type="password" name="sign_pass" placeholder="{{conver str=sign03}}">
                    </div>
                    <div class="button_sign_in">{{conver str=sign04}}</div>
                </div>
            </form>
            <div class="other">
                <div class="other_text">{{conver str=sign05}}</div>
                <div class="other_icon">
                    <ul class="clearfix">
                        <li class="other_icon_one"></li>
                        <li class="other_icon_two"></li>
                        <li class="other_icon_three"></li>
                    </ul>
                </div>
            </div>
            <div class="sign_foot">
                <span class="foot_zhanghao">{{conver str=sign06}}</span>
                <span class="foot_pass"> {{conver str=sign07}} </span>
            </div>
        </div>
    </section>
    <!--侧边栏-->
    <section class="sidebar not_selected" style="display: none;">
        <ul class="sidebar_icon pull-left">
            <li class="sidebar_icon_list click_sidebar sidebar_icon_first">{{conver str=MainSidebar_0}}</li>
            <li class="sidebar_icon_list click_sidebar sidebar_icon_second">{{conver str=MainSidebar_1}}</li>
            <li class="sidebar_icon_list click_sidebar sidebar_icon_third">{{conver str=MainSidebar_2}}</li>
            <li class="sidebar_icon_list click_sidebar sidebar_icon_fourth">{{conver str=MainSidebar_3}}</li>
            <li class="sidebar_icon_list click_sidebar sidebar_icon_fifth">{{conver str=MainSidebar_4}}</li>
            <li class="sidebar_icon_list click_sidebar sidebar_icon_sixth">{{conver str=MainSidebar_5}}</li>
            <li class="sidebar_icon_list sidebar_icon_seventh" style="display: none;"><a href="#">{{conver str=MainSidebar_6}}</a></li>
        </ul>
        <div class="sidebar_show pull-left">
            <div class="sidebar_show_header"></div>
            <div class="sidebar_show_content"></div>
            <div class="sidebar_show_footer"></div>
        </div>
    </section>
    <!-- 底部 -->
    <section class="footer_bottom">
        <p class="footer_bottom_text">Copyright © 2014 - 2016 学分在线（北京）国际数据科技有限公司 . 版权所有</p>
        <p class="footer_bottom_text">京ICP备15063355-2号 京公网安备 11010802021268号</p>
    </section>
    <!-- PC登录模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog login-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{conver str=MainLoginTitle}}</h4>
                </div>
                <div class="modal-body login-body">
                    <form>
                        <div class="item tel-email">
                            <label for="login-name" class="name-label"></label>
                            <input type="text" id="login-name" name="token" class="log-input" placeholder="{{conver str=MainLoginForm_0}}">
                            <span class="clear-input"></span>
                            <p class="name-tip"></p>
                        </div>
                        <div class="item password">
                            <label for="login-pass" class="pass-label"></label>
                            <input type="password" id="login-pass" name="password" class="pas-input" placeholder="{{conver str=MainLoginForm_1}}">
                            <span class="clear-input"></span>
                            <p class="password-tip"></p>
                        </div>
                        <div class="auto-login">
                            <input type="checkbox" name="asLogin" id="al-input">
                            <label for="al-input">{{conver str=MainLoginForm_2}}</label>
                        </div>
                        <div class="login">
                            <input type="submit" class="login-btn" value="{{conver str=MainLoginForm_3}}">
                            <div class="password-login">
                                <a href="/passport/forgetpass.html" class="forgetPass">{{conver str=MainLoginBottom_0}}</a>
                                <a href="/passport/register.html" class="register">{{conver str=MainLoginBottom_1}}</a>
                            </div>
                        </div>
                    </form>
                    <!--                  <ul class="othersPass">
                        <li class="item item-li1">
                            <a href="#">{{conver str=MainLoginBottom_2}}</a>
                        </li>
                        <li class="item item-li2">
                            <a href="#">QQ</a>
                        </li>
                        <li class="item item-li3">
                            <a href="#">{{conver str=MainLoginBottom_3}}</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
        <script src="http://192.168.1.53/static/js/json2.js"></script>
    <![endif]-->
    <script type='text/javascript' src='http://192.168.1.53/static/js/toastr/toastr.js'></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/jquery-ui.min.js'></script>
    <script type="text/javascript" src="http://192.168.1.53/static/js/bootstrap.js"></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/html5shiv.js'></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/SkyWalker.js'></script>
    <script type="text/javascript" src="http://192.168.1.53/static/js/respond.js"></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/sha1.js'></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/Sortable.js'></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/messCheck.js'></script>
    <script type='text/javascript' src='http://192.168.1.53/static/js/jquery.lazyload.js'></script>
    <script type="text/javascript">
    // $('.my_identity').click(function(){
    //     toastr.options = {
    //         "closeButton": true,
    //         "debug": false,
    //         "newestOnTop": false,
    //         "progressBar": false,
    //         "positionClass": "toast-bottom-right",
    //         "preventDuplicates": false,
    //         "onclick": null,
    //         "showDuration": "300",
    //         "hideDuration": "1000",
    //         "timeOut": "5000",
    //         "extendedTimeOut": "1000",
    //         "showEasing": "swing",
    //         "hideEasing": "linear",
    //         "showMethod": "fadeIn",
    //         "hideMethod": "fadeOut"
    //     }

    //     toastr["success"]("My name is Inigo Montoya.")
    // })
    $('.loginout').click(function() {
        $.post('/passport/logout', function(data) {
            window.location.href = '/'
        });
    });

    $('.button_sign_in').on('click', function() {
        var data = $('#sign_in').serialize();
        var name = $('.sign_input_name input').val();
        var pass = $('.sign_input_pass input').val();
            $.ajax({
                url: '01.json',
                type: 'POST',
                data: data,
                beforeSend:function() {
                    var re = /^(13[0-9]{9})|(15[89][0-9]{8})$/;
                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    var password = /^[a-zA-Z0-9]{6,16}$/;
                    var name = $('.sign_input_name input').val();
                    if(!re.test(name) && !filter.test(name)) {
                        alert('手机号或邮箱错误');
                        return false;
                    }
                    if(!password.test(pass)) {
                        alert("密码错误");
                        return false;
                    }
                },
                success:function(data) {

                }
            });
    });
    </script>
</body>

</html>
