.c_school-center {
    width: 100%;
    background: #f8f8f8;
}

.c_school-content {
    min-width: 1024px;
    font-family: '微软雅黑';
    background: #fff;
}

.c_school-content .c_school-content .c_school-content-right {
    background-color: #fff;
    width: 100%!important;
    float: none;
    border: none;
    position: relative;
}

.c_school-content-right-title {
    overflow: hidden;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    line-height: initial;
    border-bottom: 0 none;
    width: 200px;
    float: left;
}

.c_school-content-right-top .c_school-content-right-title .c_school-content-right-title-left span {
    font-size: 14px;
    padding-left: 25px;
    border-left: 2px solid #815dc7;
}

.c_school-content-right-top .c_search {
    width: 240px;
    float: right;
    border: 1px #d7d8dc solid;
    border-radius: 20px;
    background: url('../images/authenticationCenter/sch024.png') no-repeat #ffffff 22px center;
    background-size: 15px;
    line-height: 42px;
    height: 42px;
    margin: 25px 23px 0 0;
    cursor: pointer;
}

.c_school-content-right-top .c_search input {
    display: block;
    width: 165px;
    margin-left: 50px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #323232;
    font-family: 微软雅黑;
    background: #fff;
    border: 0px none;
    margin-top: 2px;
    outline: none;
}

.c_school-content-right-content .c_li1 .c_li1-title {
    border: 1px solid #d7d8dc !important;
    border-left: none !important;
    border-right: none !important;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt {
    height: 38px;
    line-height: 38px;
    text-align: center;
    float: left;
    font-size: 14px;
    color: #909090;
    font-family: '微软雅黑';
    border-right: 1px solid #d7d8dc;
    background: #ffffff;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt1 {
    width: 30%;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt2 {
    width: 12%;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt3 {
    width: 12%;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt4 {
    width: 14%;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt5 {
    width: 14%;
}

.c_school-content-right-content .c_li1 .c_li1-title .c_dt6 {
    width: 17.5%;
    border-right: none;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row {
    padding: 12px 0;
    margin: 0;
    border-bottom: 2px solid #d7d8dc !important;
    border-left: none;
    border-right: none;
    background: #fff;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_con {
    text-align: center;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    color: #323232;
    font-family: '微软雅黑';
}

.c_li1 .c_li1-content .c_row .c_serial-number {
    height: 60px;
    width: 30%;
    line-height: 60px;
    text-align: center;
    float: left;
    margin-right: 35px;
    font-size: 14px;
    color: #323232;
    font-family: '微软雅黑';
}

.c_li1 .c_li1-content .c_row .c_content1 .c_con-pic {
    width: 40%;
    height: 56px;
    float: left;
}

.c_li1 .c_li1-content .c_row .c_content1 .c_con-pic img {
    width: 100%;
    height: 100%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content1 {
    width: 30%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content2 {
    width: 12%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content3 {
    width: 12%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content4 {
    width: 14%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content5 {
    width: 14%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 {
    width: 17.5%;
    box-sizing: border-box;
    padding-left: 1.5%;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_edit,
.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_delete,
.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_preview {
    padding-top: 45px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 33%;
    float: left;
    margin-top: 8px;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_edit {
    background: url('../image/index.png') no-repeat center 9px;
    background-size: 26px;
}

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_delete {
    background: url('../image/de.png') no-repeat center 9px;
    background-size: 26px;
}

.c_school-content-right-top .c_search {
    width: 240px;
    float: right;
    border: 1px #d7d8dc solid;
    border-radius: 20px;
    background: url('../image/sch024.png') no-repeat #ffffff 22px center;
    background-size: 15px;
    line-height: 42px;
    height: 42px;
    margin: 25px 23px 0 0;
    cursor: pointer;
}


/* 换图片 */

.c_school-content-right-content .c_li1 .c_li1-content .c_row .c_content6 .c_preview {
    background: url('../image/de.png') no-repeat center 9px;
    background-size: 26px;
}

.clearfix::after,
.clearfix::before {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
